.navbar-bg-color {
  background-color: #cfd3d6;
}

.text-align-center {
  text-align: center;
}

.width-18-rem {
  width: 18rem;
}

.figure-caption {
  text-align: center;
}

.genre-block img {
  width: 56px;
}

.genre-block {
  display: flex;
  justify-content: center;
  height: 80px;
  padding: 10px;
}

.genre-block #title {
  font-size: 30px;
  margin-left: 20px;
  margin-top: 5px;
}
